/*--variaveis--*/
:root {
  --header-height: 4.5rem;

  /*--paleta de cores--*/
  --cor-body: #ffffff;
  --cor-primaria: #F6FCFC;
  --cor-secundaria: #8DDFCB;
  --cor-terciaria: #82A0D8;
  --cor-quaternaria: #EDB7ED;
  --text-color-light: #f0f0f0;
  --text-color: #0c0c0c;

  /*--fontes/tamanho das fontes--*/
  --body-font: "Georgia", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;

  /*margens*/
  --mb-0: 0;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*--globais--*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-secundaria);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin-top: 15rem;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  background-color: var(--cor-body);
  color: var(--text-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--text-color);
}

.titulo-secundario {
  font-size: 4rem;
  font-weight: 550;
  color: var(--text-color);
}

.titulo-terciario {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--text-color);
}

.titulo-quaternario {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--text-color);
}

p,
.p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.5rem;
}

p:not(:last-of-type),
.p:not(:last-of-type) {
  margin-bottom: 2rem;
}

.btn {
  background-color: none;
  border: none;
  outline: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
}

.btn.btn-primary {
  background-color: var(--cor-terciaria);
  color: var(--text-color-light);
  font-weight: 400;
  font-size: 2rem;
}

.max-width {
  width: 100%;
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
  margin-bottom: 26rem;
}

.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.bd-grid {
  display: grid;
  gap: 1, 5rem;
}

/*--navbar--*/
header {
  background-color: var(--cor-secundaria);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-weight: 550;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem 1rem;
}

.logotipo {
  display: flex;
  align-items: center;
}

.logotipo h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.navbar__links {
  display: flex;
  align-items: center;
  transition: all 1.5s;
}

.navbar__links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  
}

.navbar__links li:not(:last-of-type) {
  margin-right: 2rem;
}

.navbar__links a {
  padding: 1rem;
  display: inline-block;
}

.navbar__links a:hover {
  color: var(--cor-terciaria);
  transform: scale(1.25);
  transition: all .3s;
}

.navbar__item {
  margin: 0 15px;
  font-size: 2.8rem;
}

.navbar__link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 400;
}

.button__whats button {
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  background-color: var(--cor-terciaria);
}

.button__whats button a{
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 2rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/*about*/
.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 12rem;
  scroll-margin-left: 16rem;
}

.about .about__left {
  max-width: 40rem;
  flex: 1;
}

.about .about__left .about__image .logo {
  width: 60%;
  border-radius: 4rem;
  max-width: 100%;
  min-width: 25rem;
}

.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__right {
  max-width: 64rem;
  flex: 1;
}

/*redes sociais*/
.redes__sociais {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
  scroll-margin-left: 16rem;
  align-items: center;
}

/*politica de privacidade*/
.pdp h2 {
  text-align: center;
}

/*--produtos---*/
.products {
  margin-top: 16rem;
  scroll-margin-top: 15rem;
  font-size: 2rem;
}

.products .titulo-secundario {
  text-align: center;
}

.products__container {
  padding: 2rem 5rem;
}

.card {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: var(--mb-4);
  margin-bottom: var(--mb-4);
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.2);
}

.card img {
  border-radius: 8px 8px 0 0;
  width: 50%;
  height: auto;
}

.card__data {
  height: 8rem;
}

.card__data h3 {
  font-weight: 700;
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-top: var(--mb-2);
  margin-left: var(--mb-2);
}

.card__data .card__descripition {
  margin-left: var(--mb-2);
}

.card__data small {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
}

.card__preci {
  margin-top: var(--mb-4);
}

.card__preci span {
  font-weight: 700;
  font-size: var(--h2-font-size);
  position: relative;
  top: 0.5rem;
  left: 1rem;
  bottom: 1rem;
}

.card__cart {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: var(--text-color);
  background-color: var(--cor-terciaria);
  border-radius: 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.card__cart:hover {
  background-color: var(--cor-primaria);
}

/*contact*/
.contact {
  margin-top: 16rem;
  scroll-margin-top: 15rem;
  text-align: center;
  font-size: 2rem;
}

form {
  max-width: 32rem;
  margin: 1rem auto 6rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

form input,
form textarea {
  width: 100%;
  background-color: var(--cor-quaternaria);
  border: 0;
  outline: 0;
  padding: 2rem 4rem;
  border-radius: 1rem;
  color: var(--cor-texto);
  font-size: 1.5rem;
}

form textarea {
  resize: none;
  max-width: 42rem;
}

form .btn {
  margin-top: 3rem;
}

form .btn input {
  width: 14rem;
  color: var(--cor-texto);
  font-weight: 550;
  transition: .3s;
  cursor: pointer;
}

form .btn input:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px var(--cor-terciaria);
}

.redes__sociais .icon {
  max-width: 60rem;
  flex: 1;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*FAQ*/
.faq {
  margin-top: 16rem;
  scroll-margin-top: 15rem;
  font-size: 2rem;
}

.faq h2,
h3 {
  text-align: center;
}

/*footer*/
footer {
  width: 100%;
  padding: 3rem 3.5rem;
  background-color: var(--cor-primaria);
  text-align: center;
}

#footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.75;
}

#footer__copyright {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

#footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#input__group {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--cor-terciaria);
}

#input__group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#footer__button {
  background-color: var(--cor-terciaria);
  border: none;
  padding: 0 1.5rem;
  font-size: 1.15rem;
  height: 100%;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
  transition: all 0.2s;
}

/*responsividade*/

@media only screen and (max-width: 1250px) {
  html {
    font-size: 60%;
  }

  h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1035px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    max-width: 66rem;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 58%;
  }

  .max-width {
    padding: 0 2rem;
  }

  .navbar {
    padding: 1.5rem 4rem;
  }

  .navbar__item {
    display: none;
  }

  .button__whats {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .navbar__item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .button__whats {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .button__whats button {
    width: 100%;
  }

  .open {
    display: block;
  }

  #footer__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 4.2rem;
  }

  #footer__content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}